name: CI (テストとLighthouseスコアチェック)

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Node 16で型チェックとテスト
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - name: 型チェック
        run: yarn run typecheck
      - name: テスト
        run: yarn run test
  capture_preview_url:
    # テストしている間にVercelのURLが確定しているはずなので取得
    # Vercelのデプロイ先URLがないとmain以外のLighthouse測定ができない
    name: Vercelのデプロイ先URLを取得
    needs: test
    runs-on: 'ubuntu-latest'
    outputs:
      preview_url: ${{ steps.preview_url.outputs.preview_url }}
    steps:
      # aaimio/vercel-preview-url-action はpushで動かない
      - uses: zentered/vercel-preview-url@v1.1.2
        id: preview_url
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          vercel_project_id: ${{ secrets.VERCEL_PROJECT_ID }}
  lighthouse-main:
    # 本番のURLを使ってLighthouseチェック
    # https://c-a-p-engineer.github.io/tech/2022/01/01/github-actions-lghthouse/
    needs: capture_preview_url
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: 本番環境URLのLighthouseスコアチェック
    steps:
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        id: lighthouseCheck
        with:
          urls: '${{ needs.jobs.capture_preview_url.outputs.preview_url }}'
      - name: Lighthouseのスコアを確認する
        uses: foo-software/lighthouse-check-status-action@master
        with:
          lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
          minPerformanceScore: '90'
          # アクセシビリティは任意ではない Accessibility is NOT optional
          minAccessibilityScore: '98'
          minBestPracticesScore: '98'
          minSeoScore: '90'
      - if: failure()
        run: echo "しっかりしろ！なんだこの杜撰な製品は"
  lighthouse-preview:
    # プレビューURLを使ってLighthouseチェック
    needs: capture_preview_url
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    name: プレビューURLのLighthouseスコアチェック
    steps:
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        id: lighthouseCheck
        with:
          urls: '${{ needs.jobs.capture_preview_url.outputs.preview_url }}'
      - name: Lighthouseのスコアを確認する
        uses: foo-software/lighthouse-check-status-action@master
        with:
          lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
          minPerformanceScore: '90'
          minAccessibilityScore: '98'
          minBestPracticesScore: '98'
          # プレビューURLなのでSEOは測定しない minSeoScore: '90'
      - if: failure()
        run: echo "これはマージするな!"
